name: Builds, tests & co

on:
  pull_request:
    branches: [main]
  push: 
    branches: [main]

permissions: read-all

jobs:
  aarch64_al2023_5_3:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
  
    runs-on: ${{ matrix.os }}
  
    steps:
      - name: Checkout tree
        uses: actions/checkout@v4
      - name: install zig
        uses: mlugg/setup-zig@v2
        with:
          version: 0.15.2
      - name: Set-up OCaml
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: 5.3.0
      - name: add repository
        run: opam repo add cross .
      - name: configure and install zig wrapper
        run: opam install conf-zig-wrapper-cross-aarch64_al2023
        env:
          ZIG_PATH: zig
      - name: validate zig works
        if: ${{ runner.os != 'windows' }}
        shell: bash
        run: |
          eval $(opam env)
          { echo "#include <stdio.h>"; echo "int main() { return 0; }"; } > test.c
          export PATH=$PATH:$OPAM_SWITCH_PREFIX/bin
          aarch64_al2023-target-cc -o test test.c
        env:
          ZIG_GLOBAL_CACHE_DIR: /tmp/zig-cache
          ZIG_LOCAL_CACHE_DIR: /tmp/zig-cache-local
      - name: install aarch64 compiler
        run: opam install ocaml-aarch64_al2023 --verbose
        env:
          ZIG_GLOBAL_CACHE_DIR: /tmp/zig-cache
          ZIG_LOCAL_CACHE_DIR: /tmp/zig-cache-local
          

  x86_64_al2023_5_3:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
  
    runs-on: ${{ matrix.os }}
  
    steps:
      - name: Checkout tree
        uses: actions/checkout@v4
      - name: install zig
        uses: mlugg/setup-zig@v2
        with:
          version: 0.15.2
      - name: Set-up OCaml
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: 5.3.0
      - name: add repository
        run: opam repo add cross .
      - name: configure and install zig wrapper
        run: opam install conf-zig-wrapper-cross-x86_64_al2023
        env:
          ZIG_PATH: zig
          
      - name: validate zig works
        if: ${{ runner.os != 'windows' }}
        shell: bash
        run: |
          eval $(opam env)
          { echo "#include <stdio.h>"; echo "int main() { return 0; }"; } > test.c
          export PATH=$PATH:$OPAM_SWITCH_PREFIX/bin
          x86_64_al2023-target-cc -o test test.c
        env:
          ZIG_GLOBAL_CACHE_DIR: /tmp/zig-cache
          ZIG_LOCAL_CACHE_DIR: /tmp/zig-cache-local
      - name: install x86_64 compiler
        run: opam install ocaml-x86_64_al2023 --verbose 
        env:
          ZIG_GLOBAL_CACHE_DIR: /tmp/zig-cache
          ZIG_LOCAL_CACHE_DIR: /tmp/zig-cache-local
